.skills {  
  $base-border-radius: 3px !default;
  $action-color: #D33D3D !default;
  $large-screen: em(860) !default;
  $medium-screen: em(640);
  $hero-color: $dark-gray;

  background-color: $white;
  background-position: top;
  background-size: cover;
  padding-bottom: 0;

  .skills-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 9em 1em 8em 1em;
    text-align: center;
      
    .skills-container {
        @include outer-container;
        @include clearfix;
        margin-bottom: 1em;
      
      .col-6-1 {
          @include span-columns(6);
          margin-top: 2em;
          margin-bottom: 0;
          @include media(max-width 640px) {
              @include span-columns(12);
}
    }
      .col-6-2 {
          @include span-columns(6);
          @include omega();
          margin-top: 2em;
          margin-bottom: 0;
          @include media(max-width 640px) {
              @include span-columns(12);
}
    }
      
      .col-6-3 {
          @include span-columns(6);
          margin-top: 2em;
          margin-bottom: 0;
          @include media(max-width 640px) {
              @include span-columns(12);
}
          

    }
      .col-6-4 {
          @include span-columns(6);
          @include omega();
          margin-top: 2em;
          margin-bottom: 0;
          @include media(max-width 640px) {
              @include span-columns(12);
}
    } 
  }
  }
    
    .skills-copy {
      text-align: center;
        
        h2 {
            font-size: 3em;
            margin-top: -.2em;

            @include media($large-screen) {
              font-size: 4em;
            }
      }
      
      h4 {
        font-size: 1.8em;
        margin-bottom: 1em;
        margin-top: .1em;

        @include media($large-screen) {
          font-size: 2em;
        }
      }
        p.skills {
            margin-top: -1.8em;
            margin-bottom: 3em;
            line-height: 2em;
      }

    }

    button {
      @include button(flat, $white);
      padding: .8em 2em;
      border-radius: $base-border-radius;
      border: 3px solid $pink;
      color: $pink;
      clear: both;
        
        &:hover {
            background: $red;
            color: $red;
            border: 3px solid $red;
  }
      }
}
