.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: $dark-gray;
  $footer-color: white;
  $footer-disclaimer-color: $light-gray;

  background: $footer-background;
  padding: ($base-spacing * 2);
  width: 100%; 

  .footer-container {
    @include clearfix;
    padding: 4em 1em 4em 1em;
      
      @include media($large-screen) {
            padding: 10em 1em 7em 1em;
        }
  }

a.email {
    color: $pink;
    &:hover {
      text-decoration: line-through;
    }
  }
    
a.spotify {
    color: #23CF5F;
    &:hover {
      text-decoration: line-through;
    }
  }
    
a.twitter {
    color: #4EACFF;
    &:hover {
      text-decoration: line-through;
    }
  }

a.dribbble {
    color: #EB6895;
    &:hover {
      text-decoration: line-through;
    }
  }
    
a.default {
    color: $medium-gray;
    &:hover {
      text-decoration: line-through;
    }
  }
  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 3em auto $base-spacing;
    width: 12em;
  }

  h3 {
    color: $light-gray;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: auto;
    text-align: center;
  }
  p {
    color: $footer-disclaimer-color;
    font-size: 1em;
    line-height: 1.5em;
    margin: 2em auto 0em auto;
    max-width: 35em;
    text-align: center;
  }

  p.copyright {
    color: $medium-gray;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
